{{ define "pages/test.html" }}
{{ template "base/header" }}

<div hx-ext="sse" sse-connect="/alerts" sse-swap="alerts">SSE ALERTS</div>


<h1>{{.PageTitle}}</h1>
<ul>
    {{ range .Todos }}
    {{ if .Done }}
    <li class="done">{{.Title}}</li>
    {{ else }}
    <li>{{.Title}}</li>
    {{ end }}
    {{ end }}
</ul>

<form hx-post="/add-task" hx-swap="outerHtml" autocomplete="off">
    <div class="form-input">
        <label for="task-name">Name</label>
        <input id="task-name" name="task-name" role="presentation" autocomplete="off"/>
    </div>
    <div class="form-input">
        <label for="task-duration">Duration ('every 3h' or 'in 15min')</label>
        <input id="task-duration" name="task-duration" role="presentation" autocomplete="off"/>
    </div>

    <button type="submit">Submit</button>
</form>

{{ template "base/footer" }}
{{ end }}