:root {
    --color-bg: #1f212a;
    --color-text: white;
    --color-danger: red;

    /*            --task-colors: (#daa420, red);*/


    /*  houdini stuff */
    --d: 3500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 100%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}


@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

html, body {
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.button {
    background-color: #7289da;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;
    transition: background-color .17s ease, color .17s ease;
}

.button.danger {
    background-color: var(--color-danger);
}

.task {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.6rem;
    min-height: 55px;

    font-size: 0.9rem;
    border: solid 1px;
    border-radius: 7px;
}

.task.soon {
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}

.task:nth-child(1) {
    /*            background-color: #FF5733; !* Color for odd task items *!*/
}

.task:nth-child(2) {
    background-color: red; /* Color for even task items */
}

.task.inactive {

    opacity: 0.3;
}

.task__schedule {
    text-align: end;
    font-size: 0.7rem;
}

.task__name {
    font-weight: bold;
}

.task__duration {
    font-size: 0.7rem;
}

.task-trigger {
    font-size: 0.6rem;
}