{{ define "tasks/new-form" }}

<form class="new-task-form" hx-post="/tasks/new" hx-swap="outerHtml" autocomplete="off">

    <input class="input task-name" name="task-name" role="presentation" autocomplete="off" placeholder="Name"/>

    <input class="input task-schedule" name="task-schedule" role="presentation" autocomplete="off"
           placeholder="Schedule"/>

    <p>Trigger:</p>
    <label for="trigger-popup">Popup</label><br>
    <input type="radio" id="trigger-popup" name="trigger" value="popup">
    <label for="trigger-audio">Audio</label><br>
    <input type="radio" id="trigger-audio" name="trigger" value="audio">
    <label for="trigger-webhook">Webhook</label><br><br>
    <input type="radio" id="trigger-webhook" name="trigger" value="webhook">

    <button type="submit" class="button success">Add</button>
</form>

{{ end }}