{{ define "tasks/new-form" }}

<form class="new-task-form" hx-post="/tasks/new" hx-swap="outerHtml" autocomplete="off">

    <input class="input task-name" name="task-name" placeholder="Task name"/>
    <input class="input task-schedule" name="task-schedule" placeholder="Schedule"/>


    <div class="task-triggers">
        <h4>Trigger:</h4>

        <input type="radio" id="trigger-popup" name="task-trigger" value="popup" checked>
        <label for="trigger-popup">Popup</label>

        <input type="radio" id="trigger-audio" name="task-trigger" value="audio">
        <label for="trigger-audio">Audio</label>

        <input type="radio" id="trigger-webhook" name="task-trigger" value="webhook">
        <label for="trigger-webhook">Webhook</label>
    </div>


    <button type="submit" class="button success">Add</button>
</form>

{{ end }}