{{ define "tasks/new-form" }}

<form hx-post="/tasks/new" hx-swap="outerHtml" autocomplete="off">
    <div class="form-input">
        <label for="task-name">Name</label>
        <input id="task-name" name="task-name" role="presentation" autocomplete="off"/>
    </div>
    <div class="form-input">
        <label for="task-schedule">Schedule (&lt;every|in&gt;6h30m) or (at 18:00)</label>
        <input id="task-schedule" name="task-schedule" role="presentation" autocomplete="off"/>
    </div>

    <button type="submit" class="button success">Add</button>
</form>

{{ end }}