{{ define "tasks/table" }}


<div class="tasks-table-wrapper">
    <div hx-include="#tasks-form" hx-target="#tasks-body">
        <button class="button" hx-put="/tasks/activate">Activate</button>
        <button class="button" hx-put="/tasks/deactivate">Deactivate</button>
        <button class="button danger" hx-put="/tasks/delete">Delete</button>
    </div>

    <form id="tasks-form" class="tasks-form">
        <table class="tasks-table">
            <thead>
            <tr>
                <th></th>
                <th>Tasks</th>
                <th>Triggers</th>
            </tr>
            </thead>
            <tbody id="tasks-body">
            {{ template "tasks/table-body" .}}
            </tbody>
        </table>
    </form>
</div>

{{ end }}