{{ define "tasks/table-body" }}


{{ range .Tasks }}
<tr>
    <td><input type='checkbox' name='task-ids' value='{{.Id}}'></td>
    <td>
        <div class="task {{ if not .Active}} inactive {{ end }}  {{ if .IsSoon }} soon {{ end }}">
            <div class="task__schedule">{{.Schedule}}</div>
            <div class="task__name">{{.Name}}</div>
            <div class="task__duration">{{ .RemainingTime}}</div>
        </div>
    </td>

    <td class="task-trigger">
        {{.Trigger }}
    </td>
</tr>
{{ end }}
{{ end }}